@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!--Tweet Section-->
<div id="tweet-section">
    <div class="tweet-section parallax-style">
        <div class="parallax-overlay section-padding">
            <div class="container">
                <div class="hex twitter-icon-hex">
                    <div class="tweet-icon">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <!-- /.tweet-icon -->
                </div>
                <!-- /.witter-icon-hex -->
                <p class="tweet-text">
                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh <a href="#">ow.ly/ttlwd</a>
                </p>

                <!-- /.tweet-text -->
                <p class="tweet-time">
                    3 hours ago
                </p>
                <!-- /.tweet-time -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.parallax-overlay -->
    </div>
    <!-- /.tweet-section -->
</div>
<!-- /.tweet-section -->
<!--Tweet Section End-->
