
@using Umbraco.Web.Models
@model IPublishedContent
@{
    var umbracoHelper = new Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);

    var id = Model.GetPropertyValue("contentHeaderImage");
    var media = umbracoHelper.TypedMedia(id);
}
<div class="container blog-page-container">
    <div class="row">
        <div id="@Model.Id" class="col-md-12 blog-section">

            <!-- Post Box-->
            <div class="row post-box">
                <div class="col-sm-12">
                    <article class="post-content">
                        <figure class="featured-image">
                            <img src="@media.GetCropUrl()" alt="featured image">
                        </figure>

                        <h2 class="post-title">
                            <a href="#">@Model.GetPropertyValue("contentTitle")</a>
                        </h2>

                        @Html.Raw(Model.GetPropertyValue("contentDetail"))
                    </article> <!-- /.post-content -->
                </div><!-- /.col-sm-10 -->
            </div><!-- /#post-box --><!-- /.row -->
            <!-- Post Box End -->
            <hr>


        </div><!-- /#blog-section -->


    </div> <!-- /.row -->
</div><!-- /.container -->