@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!-- Pricing Section -->
<section id="pricing">
    <div class="pricing-section">
        <div class="gray-bg  section-padding">
            <div class="top-angle">
            </div>
            <!-- /.top-angle -->
            <div class="container">
                <div class="row">
                    <div class="section-content">
                        <div class="col-md-4 from-bottom delay-200">
                            <div class="content-box">
                                <div class="hex content-icon-hex hex-margin">
                                    <div class="content-icon">
                                        <span aria-hidden="true" class="li_banknote"></span>
                                    </div>
                                </div>
                                <!-- /.content-icon-hex -->
                                <h3 class="content-title">Become a Guardian
                                </h3>
                                <!-- /.content-title -->
                                <p>
                                    It is a big opportunity to work with us having a guardianship. We cordially offer you for becoming a guardian of orphans and help them to keep them safe. 
                                </p>
                            </div>
                            <!-- /.content-box -->
                        </div>
                        <!-- /.col-md-4 -->

                        <div class="col-md-8 from-right delay-200">
                            <div class="pricing-table">

                                <div class="pricing-item">
                                    <div class="item-head">
                                        <span class="item-name">Basic</span>
                                        <span class="item-currency">$</span><span class="item-price">35</span>
                                    </div>
                                    <!-- /.item-head -->
                                    <ul class="item-description">
                                        <li>First Description</li>
                                        <li>Second Description</li>
                                        <li>Third Description</li>
                                        <li>Fourth Description</li>
                                    </ul>
                                    <!-- /.item-description -->
                                    <div class="item-footer">
                                        <a href="#" class="btn custom-btn ">Purchase</a>
                                    </div>
                                    <!-- /.item-footer -->
                                </div>
                                <!-- /.pricing-item -->

                                <div class="pricing-item even">
                                    <div class="item-head">
                                        <span class="item-name">Gold</span>
                                        <span class="item-currency">$</span><span class="item-price">99</span>
                                    </div>
                                    <!-- /.item-head -->
                                    <ul class="item-description">
                                        <li>First Description</li>
                                        <li>Second Description</li>
                                        <li>Third Description</li>
                                        <li>Fourth Description</li>
                                    </ul>
                                    <!-- /.item-description -->
                                    <div class="item-footer">
                                        <a href="#" class="btn custom-btn ">Purchase</a>
                                    </div>
                                    <!-- /.item-footer -->
                                </div>
                                <!-- /.pricing-item -->

                                <div class="pricing-item">
                                    <div class="item-head">
                                        <span class="item-name">Silver</span>
                                        <span class="item-currency">$</span><span class="item-price">65</span>
                                    </div>
                                    <!-- /.item-head -->
                                    <ul class="item-description">
                                        <li>First Description</li>
                                        <li>Second Description</li>
                                        <li>Third Description</li>
                                        <li>Fourth Description</li>
                                    </ul>
                                    <!-- /.item-description -->
                                    <div class="item-footer">
                                        <a href="#" class="btn custom-btn ">Purchase</a>
                                    </div>
                                    <!-- /.item-footer -->
                                </div>
                                <!-- /.pricing-item -->
                            </div>
                            <!-- /.pricing-table -->
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.section-content -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
            <div class="bottom-angle">
            </div>
            <!-- /.bottom-angle -->
        </div>
        <!-- ./gray-bg -->
    </div>
    <!-- /.pricing-section -->
</section>
<!-- /#pricing -->
<!-- Pricing Section End -->

