@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


<!-- Services Section -->
<section id="service">
    <div class="services-section white-bg  section-padding">
        <div class="top-angle">
        </div>
        <!-- /.top-angle -->
        <div class="container">
            <div class="section-head">
                <h2 class="section-title">Services
                </h2>
                <p class="section-description">
                    ALL OF OUR SERVICES IS CENTRALIZED TO THE WELFARE OF THE CHILDREN. WE SERVE THE CHILD WITH FOOD, EDUCATION, HABITATION, SAFETY AND EVERYTHING THE NEED. 
                </p>
            </div>
            <!-- /.section-head -->

            <div class="section-content">
                <div class="row">
                    <div class="col-md-4 from-bottom delay-200">
                        <div class="service-box">
                            <div class="hex service-icon-hex">
                                <div class="service-icon">
                                    <span aria-hidden="true" class="li_star"></span>
                                </div>
                                <!-- /.service-icon -->
                            </div>
                            <!-- /.hex -->
                            <h3 class="service-title content-title">Fund Raising
                            </h3>
                            <!-- /.service-title content-title -->
                            <p class="service-description">
                                We raise funds for the oppressed and affected child all over the world. We collect donation aiming to help the children and keep them safe. 
                            </p>
                            <!-- /.service-description -->

                            <div class="services-button">
                                <a href="#" class="btn custom-btn ">Learn More
                                </a>
                            </div>
                            <!-- /.services-button -->
                        </div>
                        <!-- /.service-box -->
                    </div>
                    <!-- /.col-md-4 -->

                    <div class="col-md-4 from-bottom delay-600">
                        <div class="service-box">
                            <div class="hex service-icon-hex">
                                <div class="service-icon">
                                    <span aria-hidden="true" class="li_lab"></span>
                                </div>
                                <!-- /.service-icon -->
                            </div>
                            <!-- /.hex -->
                            <h3 class="service-title content-title">Tree Planting
                            </h3>
                            <!-- /.service-title content-title -->
                            <p class="service-description">
                                We arrange event to make the world green and keep the environment favorable to us. Worldwide Tree is notable one of them.
                            </p>
                            <!-- /.service-description -->

                            <div class="services-button">
                                <a href="#" class="btn custom-btn ">Learn More
                                </a>
                            </div>
                            <!-- /.services-button -->
                        </div>
                        <!-- /.service-box -->
                    </div>
                    <!-- /.col-md-4 -->

                    <div class="col-md-4 from-bottom delay-1000">
                        <div class="service-box">
                            <div class="hex service-icon-hex">
                                <div class="service-icon">
                                    <span aria-hidden="true" class="li_world"></span>
                                </div>
                                <!-- /.service-icon -->
                            </div>
                            <!-- /.hex -->
                            <h3 class="service-title content-title">Child Care
                            </h3>
                            <!-- /.service-title content-title -->
                            <p class="service-description">
                                In the present world, Childs' are living in danger, especially street Childs. We have many child care centers to care them.
                            </p>
                            <!-- /.service-description -->

                            <div class="services-button">
                                <a href="#" class="btn custom-btn ">Learn More
                                </a>
                            </div>
                            <!-- /.services-button -->
                        </div>
                        <!-- /.service-box -->
                    </div>
                    <!-- /.col-md-4 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.section-content -->
        </div>
        <!-- /.container-->
    </div>
    <!-- /.services-section -->
</section>
<!-- /#services -->
<!--Services Section End-->