@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!-- Volunteer Section -->
<section id="volunteer">
    <div class="volunteer-section">
        <div class="gray-bg  section-padding">

            <div class="top-angle">
            </div>
            <!-- /.top-angle -->

            <div class="container">
                <div class="row">
                    <div class="section-content">
                        <div class="media-content media-left col-md-4 from-bottom delay-200">
                            <div class="meida-container">
                                <img src="images/volunteer.jpg" alt="volunteer">
                            </div>
                            <!-- /.meida-container -->
                        </div>
                        <!-- /.media-content -->


                        <div class="content-box col-md-8 from-bottom delay-600">
                            <div class="hex content-icon-hex pull-left">
                                <div class="content-icon">
                                    <span aria-hidden="true" class="li_user"></span>
                                </div>
                            </div>
                            <!-- /.content-icon-hex -->
                            <h3 class="content-title">Become a Volunteer</h3>
                            <p>
                                <strong>Do you like to work for children? Do you feel the slogan "Save the Children". Yes. Here, you are welcome to our team and you can work as a volunteer.</strong>
                            </p>
                            <p>
                                At first, you have to submit your information and apply for becoming a volunteer. We will review your information within a few days and then contact with you. After finalizing your information, a confirmation message will send to you with necessary documents. 
                            </p>
                            <p>
                                <a href="#" class="btn custom-btn ">Apply Now
                                </a>
                            </p>
                        </div>
                        <!-- /.content-box -->
                    </div>
                    <!-- /.section-content -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
            <div class="bottom-angle">
            </div>
            <!-- /.bottom-angle -->
        </div>
        <!-- ./gray-bg -->
    </div>
    <!-- /.volunteer-section -->
</section>
<!-- /#volunteer -->
<!-- Volunteer Section End -->

