@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!-- Upcoming Events Section -->
<section id="upcoming-events">
    <div class="upcoming-events-section gray-bg  section-padding">

        <div class="top-angle"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="content-box">
                        <div class="hex content-icon-hex hex-margin">
                            <div class="content-icon">
                                <span aria-hidden="true" class="li_calendar"></span>
                            </div>
                            <!-- /.content-icon -->
                        </div>
                        <!-- /.content-icon-hex -->
                        <h3 class="content-title">Upcoming Event
                        </h3>
                        <p class="content-description">
                            We create events aiming to spear the voice for children and gather for support. Please update with our events and confirm your presence.
                        </p>
                    </div>
                    <!-- /.content-box -->

                    <div class="slide-nav-container customNavigation">
                        <a class="slide-nav left slide-left" href="#event-post-slider" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                        <a class="slide-nav right slide-right" href="#event-post-slider" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                    </div>
                    <!-- /.slide-nav-container -->
                </div>
                <!-- /.col-md-4 -->

                <div class="col-md-8">
                    <div class="row">
                        <div class="event-container">
                            <div id="event-post-slider" class="owl-carousel owl-theme">

                                <div class="item col-md-12">
                                    <div class="event-content">
                                        <h4 class="content-title">
                                            <a href="#">Event Title Goes Here</a>
                                        </h4>
                                        <!-- /.event-title -->
                                        <div class="event-date-time-place">
                                            <time datetime="2014-06-30">
                                                <span><i class="fa fa-clock-o"></i></span>Aguste 29, 2014 at 3pm to 6pm
                                            </time>

                                            <span><i class="fa fa-map-marker"></i></span>Place: Bronx NY, Unites States
                                        </div>
                                        <div class="event-img">
                                            <img src="/images/event-post-image/post-1.jpg" alt="Event Post">
                                        </div>
                                        <!-- /.event-img -->
                                    </div>
                                    <!-- /.event-content  -->
                                </div>
                                <!-- /.item col-md-12 -->

                                <div class="item col-md-12">
                                    <div class="event-content">
                                        <h4 class="content-title">
                                            <a href="#">Event Title Goes Here</a>
                                        </h4>
                                        <!-- /.event-title -->
                                        <div class="event-date-time-place">
                                            <time datetime="2014-06-30">
                                                <span><i class="fa fa-clock-o"></i></span>Aguste 29, 2014 at 3pm to 6pm
                                            </time>

                                            <span><i class="fa fa-map-marker"></i></span>Place: Bronx NY, Unites States
                                        </div>
                                        <div class="event-img">
                                            <img src="/images/event-post-image/post-2.jpg" alt="Event Post">
                                        </div>
                                        <!-- /.event-img -->
                                    </div>
                                    <!-- /.event-content  -->
                                </div>
                                <!-- /.item col-md-12 -->

                                <div class="item col-md-12">
                                    <div class="event-content">
                                        <h4 class="content-title">
                                            <a href="#">Event Title Goes Here</a>
                                        </h4>
                                        <!-- /.event-title -->
                                        <div class="event-date-time-place">
                                            <time datetime="2014-06-30">
                                                <span><i class="fa fa-clock-o"></i></span>Aguste 29, 2014 at 3pm to 6pm
                                            </time>

                                            <span><i class="fa fa-map-marker"></i></span>Place: Bronx NY, Unites States
                                        </div>
                                        <div class="event-img">
                                            <img src="/images/event-post-image/post-3.jpg" alt="Event Post">
                                        </div>
                                        <!-- /.event-img -->
                                    </div>
                                    <!-- /.event-content  -->
                                </div>
                                <!-- /.item col-md-12 -->

                                <div class="item col-md-12">
                                    <div class="event-content">
                                        <h4 class="content-title">
                                            <a href="#">Event Title Goes Here</a>
                                        </h4>
                                        <!-- /.event-title -->
                                        <div class="event-date-time-place">
                                            <time datetime="2014-06-30">
                                                <span><i class="fa fa-clock-o"></i></span>Aguste 29, 2014 at 3pm to 6pm
                                            </time>

                                            <span><i class="fa fa-map-marker"></i></span>Place: Bronx NY, Unites States
                                        </div>
                                        <div class="event-img">
                                            <img src="/images/event-post-image/post-4.jpg" alt="Event Post">
                                        </div>
                                        <!-- /.event-img -->
                                    </div>
                                    <!-- /.event-content  -->
                                </div>
                                <!-- /.item col-md-12 -->


                            </div>
                            <!-- /#event-post-slider -->

                        </div>
                        <!-- /.event-container-->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.com-md-8 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        <div class="bottom-angle"></div>
    </div>
    <!-- /.upcoming-events-section -->
</section>
<!-- /.upcoming-events -->
<!--Upcoming Events Section End-->


